<h1 class="text-center" >Angular Diretivas</h1>

<!-- DIRETIVAS DE ATRIBUTOS -->
<div
    [ngClass]="{
        'bg-success text-light': true,
        'bg-warning text-dark': count >= 5 }"
>
    <h2 class="text-center">Contador: {{ count }}</h2>
</div>

<!-- DIRETIVAS ESTRUTURAIS -->
<!-- ESTUTURA IF -->
<h5 class="text-center text-danger" *ngIf="count >= 5 else safe" >Valor muito alto!</h5>

<ng-template #safe>
    <h5 class="text-center">Valor seguro :)</h5>
</ng-template>
<!-- ESTRUTURA IF COM THEN/ELSE EXPANDIDO-->
<div *ngIf="count >= 5; then danger else safe"></div>

<ng-template #safe><h5 class="text-center text-dark">Valor seguro :)</h5></ng-template>
<ng-template #danger><h5 class="text-center text-danger">Valor muito alto!</h5></ng-template>

<!-- ESTRUTURA SWITCH CASE -->
<ul [ngSwitch]="count" class="list-group mx-auto col-6">

    <li 
        class="list-group-item"
        *ngSwitchCase="0">
        Counter é igual a 0
    </li>
    <li 
        class="list-group-item"
        *ngSwitchCase="2">
        Counter é igual a 2
    </li>
    <li 
        class="list-group-item"
        *ngSwitchCase="4">
        Counter é igual a 4
    </li>
    <li 
        class="list-group-item"
        *ngSwitchCase="6">
        Counter é igual a 6
    </li>
    <li 
        class="list-group-item"
        *ngSwitchCase="8">
        Counter é igual a 8
    </li>
    <li 
        class="list-group-item"
        *ngSwitchDefault>
        Valor impar! ( {{ count }} )
    </li>
</ul>

<!-- ESTUTURA FOR -->
<ul class="list-group mx-auto col-6 my-3">
    <li
        class="list-group-item"
        *ngFor="let pessoa of pessoas">
        O nome da pessoa é {{ pessoa.firstName }} {{ pessoa.lastName }}
    </li>
</ul>

<!-- ESTRUTURA FOR EXTENDIDA -->
<ul class="list-group mx-auto col-6 my-3">
    <ng-template ngFor let-pessoa [ngForOf]="pessoas">
        <li class="list-group-item">
            O nome da pessoa é {{ pessoa.firstName }} {{ pessoa.lastName }}
        </li>
    </ng-template>
</ul>

<!-- USANDO A LISTA EM UM COMPONENTE SEPARADO COM SERVIÇOS -->
<app-list-people></app-list-people>

<!-- DATA BINDING -->
<!-- One-way data binding envia dados do template para o componente ou do componente para o template -->
<!-- Two-way data biding envia do template para o componente e do componente para o template ao mesmo tempo -->
<div class="col-4 mx-auto my-3">
    <h3 appMarcaTexto corDeFundo="red" corDoTexto="yellow">{{ nome }}</h3>
    <button class="btn btn-success col-4" (click)="clicou()">Clique aqui</button>
</div>

<div class="col-4 mx-auto">
    <input
    [(ngModel)]="text"
    type="text" class="form-control" placeholder="Two-way data binding">
    <h4>Saída: {{ text }}</h4>
</div>

<div class="container my-5">
    <div class="row d-flex align-items-center justify-content-center">
        <h2 class="text-center">LISTAGEM DE PERSONAGENS RICK AND MORTY</h2>
        <div class="col-12">
            <app-list-api></app-list-api>
        </div>
    </div>
</div>